<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="text"   id="username" default=""/>
        <setting label="32012" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting label="32014" type="text"   id="cookies" visible="false" default=""/>
        <setting label="32015" type="folder"   id="save_path"  default=""/>
        <setting label="32016" type="bool"   id="seed_after"  default="false"/>
        <setting label="32018" type="bool"   id="prefer_dash"  default="false"/>
    </category>
</settings>
